*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    margin-left: 23px;
}

#menu-toggle {
    display: none;
}

.opcoes {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

a {
    padding: 25px;
    text-decoration:  none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color:#fff;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


#search {
    width: 170px;
    height:38px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    color:#6c757d;
    position: absolute;
    right: 120px;
}

.buscar-button {
    width: 80px;
    height: 37px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    border: 2px solid #fff;
    margin-right: 23px;
    cursor: pointer;
}


@media (max-width: 768px) {
    body {
        width: 100%;
    }

    a{
        font-size: 13px;
        padding: 0px;
    }


    #search {
        width: 145px;
        height: 38px;
        gap: 10px 16px 10px 65px;
    }
}

@media (mx-width: 375px) {
    .menu-button-container {
        display: flex;
}

.opcoes {
  
}
}