.products-tilte {
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #212529;
    text-align: center;
    margin-top: 30px;
}

.produtcs-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    gap: 30px;
    padding: 0px 165px 0px 165px;
    
}

.products h5 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #212529;
    margin: 13px;
}

.products p {
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #212529;
    margin: 2px 16px 16px 16px;
}

.products span {
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 2px 16px 16px 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 16px 16px 16px;
    background-color: #9353FF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    width: 102px;
    height: 37px;
    border: 1px solid #9353FF;
    cursor: pointer;
}

@media (max-width: 768px) {
    .products-tilte {
        font-size: 28px;
    }

    .produtcs-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    gap: 30px;
    padding: 0px 165px 0px 165px;  /* ← esse padding está estourando a tela no mobile */
}


    .products h5 {
        margin-bottom: 13px;
    }

    .products p {
        line-height: 20px;
    }

    .products img {
        width: 330px;
        height: auto;
    }
}

@media (max-width: 420px) {
    .produtcs-container {
        grid-template-columns: 1fr; /* só uma coluna no celular */
        padding: 0 16px; /* espaço menor nas laterais */
        gap: 20px;
    }

    .products img {
        width: 100%; /* garante que as imagens não estourem */
        height: auto;
    }
}
