#social_media {
    width: 100%;
    height: 238px;
    background-color: #000;
    
}

#social_media h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #fff;
    text-align: center;
    padding: 40px 40px;
}

.social-media-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    
}

.social-media-container h4 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #DAFF01;
    margin-bottom: 16px;
}

.social-media-container p {
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #fff;
    line-height: 20px;
    padding: 0px;
    overflow-wrap: break-word;
    
}

.description {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    }

    @media (max-width: 768px) {

        #social_media {
            height: auto;
            
            
            
        }

        

        .social-media-container {
            flex-direction: column;
            
            
            
            
            
        }

        .description h4 {
            text-indent: 50px;
            line-height: 23px;
        }

    }