#social_media {
    background-color: #000;
    padding: 40px 0px 40px 0px;
}

#social_media h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}


.social-media-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    
}

.social-media-item {
    width: 304px;
    height: 79px;
}

.social-media-subtitle {
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #DAFF01;
    padding: 0 32px;
    margin-bottom: 16px;
    position: relative;
    left: 55px;
    bottom: 80px;
}

.social-media-comentary {
    width: 200px;
    height: 49px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #fff;
    padding-bottom: 40px;
    position: relative;
    left: 85px;
    bottom: 80px;
}

@media (max-width: 768px) {
    .social-media-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
